body{
  margin: 0;
  padding: 0;
  background: url('bg1.png');
  background-size: cover;
}
.box{
  height: 550px;	
  width: 500px;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Libre Baskerville', sans-serif;
  animation: fadeEffect 1s;	
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  list-style: none;	
}	
.box li.link{
  display: inline-block;
  margin: 6px;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #bbbbbb;
}

.contact-me-form{
     height: 40%;		
}
.contact-me-form input[type=text], textarea {
      width: 60%;
      border-radius: 8px;
      padding: 0.75%;
      margin-bottom: 5px;
      border: none;
      outline: none;
  }

.contact-me-form input[type=text]{
     height: 15%	
  }

.contact-me-form textarea {
      height: 60%;
  }

.contact-me-form button {
      height: 15%;	
      width: 25%;
      border-radius: 8px;
      padding: 0.6%;
      margin-bottom: 5px;
      background-color: rgba(0, 0, 0, 0.7);;
      color: #fff;
      outline: none; 	
  }

.contact-me-form button:hover{
  background: rgba(45, 45, 45, 0.9);				
}

.gallery-img {
  height: 100%;
  width: 100%;
}

.image img{
  height: 100%;
  width: 100%;	
}		

.menu {
  display: flex;
  justify-content: space-around;		
  width: 600px;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
}	

.menu button{
  width: 22%;	
  padding:12px;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  color: #fff;
  outline: none;
  font-family: 'Libre Baskerville',sans-serif;				
}

.menu button:hover{
  background: rgba(45, 45, 45, 0.9);				
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
